body{
  margin: 0%;
}




body{
    margin: 0%;
  }
  
  #naveGlobalCont{
      position: relative;
      display:inline-block;
      top: 70%;
      left: 50%;
      color: rgb(81, 0, 148);
      margin-right: 138px;
      padding: 4% 6%;
          
  }
  #logoAma{
    
      justify-content: center;
      align-items:center;
      margin: 0 auto;
      padding: 7px;
      background-color: #006A4E;
      width: 6%; 
      right: 1em;
  }
  #usuarioVector{
      margin-right: 2em; 
      background-color: #006A4E;
      width: 3.5%; 
  }







#imgH{
    margin:0em;
    justify-content: center;
    width: 100%
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:  Roboto ;
    color: ivory;
}


#funciones{
    margin-top: 70px;

    position: relative;
    display:inline-block;
    top: 70%;
    left: 50%;
    color: rgb(81, 0, 148);
    margin-right: 138px;
    padding: 15% 16%;
        
}

