body{
  margin: 0%;
}

#logoAma{
  
    display: flex;
    flex-direction:column;
    width: 7%;
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    padding: 7px;
    background-color: #006A4E;
}
#usuarioVector{
    margin-right: 2em;
    
    background-color: #006A4E;
}
#naveGlobalCont{
    position: relative;
    display: inline;
    text-align: center;
    top: 70%;
    left: 50%;
}
#imgH{
    margin:0em;
    justify-content: center;
    width: 100%
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:  Roboto ;
    color: ivory;
}


