body{
  margin: 0%;
}


  .naveGlobalCont{
    background-color: #006A4E;
    display:flex;
    align-items: center;
      position: relative;
      width: 100%; 
     
  }
  .logoAma{
    
      justify-content: center;
      margin: 0 auto;
      padding: 7px;
  }
  .usuarioVector{
    justify-content:right;
    
  }
  .menu{
    padding: 7px 7px;

  }



#imgH{
    margin:0em;
    justify-content: center;
    width: 100%
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    
}
.texto-encima{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:  Roboto ;
    color: ivory;
}


#funciones{
    display:flex;
    align-items: center;
    margin-top: 700px;
    padding: 30% 150%;
        
}

